<div>
  <h5 class="titulo">Listagem de Cadastro de Fitas</h5>
  <hr />

  <div class="row">
    <div class="col s12 m6 offset-m3">
      <table>
        <thead>
          <tr>

            <th data-field="td-nomeFita">Nome Fita</th>
            <th data-field="td-quantidade">Quantidade</th>
            <th data-field="td-genero">Genero</th>
            <th data-field="td-produtora">Produtora</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let f of this.fitas">
            <td>{{ f.nome | titlecase}}</td>
            <td>{{ f.quantidadeFita}}</td>
            <td>{{ f.genero | titlecase }}</td>
            <td>{{ f.produtora | titlecase }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
