<div>
  <h5 class="titulo">Listagem de Cadastro de Fitas</h5>
  <hr />

  <div class="row">
    <div class="col s12 m6 offset-m3">
      <table>
        <thead>
          <tr>
            <th data-field="td-date">Data</th>
            <th data-field="td-nomeFita">Nome Fita</th>
            <th data-field="td-genero">Genero</th>
            <th data-field="td-produtora">Produtora</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let f of this.fitas">
            <td>{{ f.date | date: "dd/MM/yyyy HH:mm:ss" }}</td>
            <td>{{ f.nome}}</td>
            <td>{{ f.genero }}</td>
            <td>{{ f.produtora }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
