<div class="navbar-fixed">
  <nav class="#311b92 deep-purple darken-4">
    <div class="nav-wrapper">
      <div class="container">
        <a class="brand-logo" href="#">
          <img class="my-logo" src="assets/images/logo.png" style="width:150px; padding-top: 10px;"/>
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down" [hidden]="!this.loggedIn">
          <li><a routerLink="/novaFita" class="flow-text">Nova Fita</a></li>
          <li><a routerLink="/fitas" class="flow-text">Fitas</a></li>
          <li><a class="flow-text" (click)="onLogout()">Sair</a></li>
        </ul>
      </div>
    </div>
  </nav>



  <ul class="sidenav #311b92 deep-purple darken-4" style=" background-color:#3949ab;" id="mobile-demo" #mobile >
    <div class="row">
      <div class="col s8 offset-s2">
        <div class="center">
          <img
            class="circle responsive-img"
            src="assets/images/logo.png" width="200"/>
        </div>
      </div>
    </div>
    <li><a routerLink="/fitas" class="flow-text">Fitas</a></li>
    <li><a routerLink="/novaFita" class="flow-text">Nova Fita</a></li>
  </ul>
</div>
